extends layout

block content
  h1 Edit Movie

  form(method="POST")
    .form-group
      label(for="filmName") Film Name
      input#filmName.form-control(name="title", type="text", value=movie.title)
    .form-group
      label(for="runtime") Runtime
      input#runtime.form-control(name="runtime", type="text", value=movie.runtime )
    .form-group
      label(for="summary") Summary
      input#summary.form-control(name="summary", type="text", value=movie.summary )
    .form-group
      label(for="imdbRating") ImDb Rating
      input#imdbRating.form-control(name="imdb_rating", type="text", value=movie.imdb_rating)
    .form-group
      label(for="releaseDate") Release Date
      input#releaseDate.form-control(name="release_date", type="date", value=movie.release_date)
    .form-group
      .btn-group
        button.btn.btn-primary(type="submit") Edit
        button.btn.btn-danger Cancel